<!-- Main container -->
{% extends "base.html" %}
{% block container %}
	<main role="main" class="container">
		<div class="row">
			<div class="col-md-8">
				{% with messages = get_flashed_messages(with_categories=true) %}
					{% if messages %}
						{% for category, message in messages %}
							<div class="alert alert-{{ category }}">
								{{ message }}
							</div>
						{% endfor %}
					{% endif %}
				{% endwith %}
				{% block content %}
					<!-- this will be replaced by the specific html files -->
				{% endblock %}
			</div>
			<div class="col-md-4">
				<div class="content-section">
					<h3>Quick Links</h3>
					<p class='text-muted'>&nbsp;
						<ul class="list-group">
							<li class="list-group-item list-group-item-light">
								<a href="#">Latest Posts</a>
							</li>
							<li class="list-group-item list-group-item-light">Announcements</li>
							<li class="list-group-item list-group-item-light">Calendars</li>
							<li class="list-group-item list-group-item-light">etc</li>
						</ul>
					</p>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
